<main class="page manager-page">
    <section class="clean-block about-us">
        <div class="container-fluid">
            <div class="block-heading">
                <h2 class="text-info">Quản lý thành viên</h2>
            </div>


            <div class="container-center ">
                
                <div class="row">
                    <div class="col canphai">
                      <a href="" class="btn btn-primary btn-small mb-3">Thêm thành viên</a>
                    </div>

                    <div class="col">
                      <a href="" class="btn btn-primary btn-small mb-3">Xem phản hồi</a>
                    </div>
                </div>
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">TÊN NGƯỜI DÙNG</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">SĐT</th>
                                <th scope="col">TỔNG BÀI ĐĂNG</th>
                                <th scope="col">TRẠNG THÁI</th>
                                <th scope="col">SỐ TIỀN TRONG TÀI KHOẢN</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <% listUser.forEach(function(member) { %>   
                            <tr>         
                                    <td> <%= member._id %>  </td>
                                    <td> <%= member.name %> </td>
                                    <td> <%= member.email %>  </td>
                                    <td> <%= member.phoneNumber %>  </td>
                                    <td>(Processing)</td>
                                    <% if (member.status == 0) {%>
                                        <td> Đang hoạt động </td>
                                    <% } else { %>
                                        <td> Bị chặn</td>
                                    <% } %>
                                    
                                    <td> <%= member.money %> </td>
                                    <% if (member.status == 0) { %>
                                       <td><a href="/admin/ban-member/<%= member._id %>  " class="tm-product-delete-link"><i class="fas fa-ban tm-product-delete-icon" onclick="return confirm('Bạn muốn chặn thành viên này?');" ></i></a></td> 
                                    <% } else { %>
                                        <td><a href="/admin/unban-member/<%= member._id %>  " class="tm-product-delete-link"> <i class="far fa-check-circle tm-product-delete-icon" onclick="return confirm('Xác nhận bỏ chặn thành viên');"></i></a></td>
                                    <% } %>  
                                
                                <td>
                                    <a href="#" class="tm-product-delete-link tm-product-delete-icon">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>


                </div>
            </div>
         </div>
    </section>

</main>