<main class="page manager-page">
    <section class="clean-block about-us">
        <div class="container-fluid">
            <div class="block-heading">
                <h2 class="text-info">Quản lý thành viên</h2>
            </div>


            <div class="container-center ">

                <div class="row">
                    <% if (user.permission == 3) {%>
                        <div class="col canphai">
                            <a href="/admin/addmember" class="btn btn-primary btn-small mb-3">Thêm thành viên</a>
                        </div>

                        <div class="col">
                            <a href="xemphanhoi" class="btn btn-primary btn-small mb-3">Xem phản hồi</a>
                        </div>
                    <% } else { %>
                        <div class="col text-center">
                            <a href="xemphanhoi" class="btn btn-primary btn-small mb-3">Xem phản hồi</a>
                        </div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table ">
                            <thead>
                            <tr>
                                <th scope="col" class="header" >ID</th>
                                <th scope="col" class="header">TÊN NGƯỜI DÙNG</th>
                                <th scope="col" class="header">EMAIL</th>
                                <th scope="col" class="header">SĐT</th>
                                <th scope="col" class="header">TỔNG BÀI ĐĂNG</th>
                                <th scope="col" class="header">TRẠNG THÁI</th>
                                <th scope="col" class="header">SỐ TIỀN TRONG TÀI KHOẢN</th>
                                <th scope="col" class="header">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if (user.permission == 2) {%>
                                <% listUser.forEach(function(member) { %>
                                    <tr>
                                        <td><a href="/admin/viewprofile/<%= member._id %>" style="text-decoration: none; color: white;"><%= member._id %></a></td>
                                        <td> <%= member.name %> </td>
                                        <td> <%= member.email %>  </td>
                                        <td> <%= member.phoneNumber %>  </td>
                                        <td>(Processing)</td>
                                        <% if (member.status == 0) {%>
                                            <td > Đang hoạt động </td>
                                        <% } else { %>
                                            <td > Bị chặn</td>
                                        <% } %>

                                        <td > <%= member.money %> </td>
                                        <% if (member.status == 0) { %>
                                            <td ><a href="/admin/ban-member/<%= member._id %>  " class="tm-product-delete-link"><i class="fas fa-ban tm-product-delete-icon" onclick="return confirm('Bạn muốn chặn thành viên này?');" ></i></a></td>
                                        <% } else { %>
                                            <td ><a href="/admin/unban-member/<%= member._id %>  " class="tm-product-delete-link"> <i class="far fa-check-circle tm-product-delete-icon" onclick="return confirm('Xác nhận bỏ chặn thành viên');"></i></a></td>
                                        <% } %>


                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <% listUserAdmin.forEach(function(member) { %>
                                    <tr>
                                        <td><a href="/admin/viewprofile/<%= member._id %>" style="text-decoration: none; color: white;"><%= member._id %></a></td>
                                        <td> <%= member.name %> </td>
                                        <td> <%= member.email %>  </td>
                                        <td> <%= member.phoneNumber %>  </td>
                                        <td>(Processing)</td>
                                        <% if (member.status == 0) {%>
                                            <td > Đang hoạt động </td>
                                        <% } else { %>
                                            <td > Bị chặn</td>
                                        <% } %>

                                        <td > <%= member.money %> </td>
                                        <% if (member.status == 0) { %>
                                            <td ><a href="/admin/ban-member/<%= member._id %>  " class="tm-product-delete-link"><i class="fas fa-ban tm-product-delete-icon" onclick="return confirm('Bạn muốn chặn thành viên này?');" ></i></a></td>
                                        <% } else { %>
                                            <td ><a href="/admin/unban-member/<%= member._id %>  " class="tm-product-delete-link"> <i class="far fa-check-circle tm-product-delete-icon" onclick="return confirm('Xác nhận bỏ chặn thành viên');"></i></a></td>
                                        <% } %>


                                    </tr>
                                <% }); %>
                            <% } %>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>

</main>