<main class="page catalog-page">
  <section class="clean-block clean-catalog dark">
    <div class="s009">
      <form action="/motel" method="get">
        <div class="inner-form">
          <div class="advance-search">
            <span class="desc">Bộ lọc</span>
            <div class="row">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="roomType" id="roomType">
                    <option placeholder="" value="">Loại</option>
                    <option>Có gác</option>
                    <option>Không có gác</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="wards" id="wards">
                    <option placeholder="" value="">Khu vực</option>
                    <option>Phú Hòa</option>
                    <option>Phú Lợi</option>
                    <option>Phú Cường</option>
                    <option>Phú Mỹ</option>
                    <option>Phú Thọ</option>
                    <option>Phú Tân</option>
                    <option>Hòa Phú</option>
                    <option>Tương Bình Hiệp</option>
                    <option>Chánh Mỹ</option>
                    <option>Chánh Nghĩa</option>
                    <option>Hiệp Thành</option>
                    <option>Tân An</option>
                    <option>Định Hòa</option>
                    <option>Hiệp An</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="cost" id="cost">
                    <option placeholder="" value="">Giá</option>
                    <option value="Dưới 1 triệu">Dưới 1 triệu</option>
                    <option value="Từ 1 triệu đến 1,5 triệu">
                      Từ 1 triệu đến 1,5 triệu
                    </option>
                    <option value="Trên 1,5 triệu">Trên 1,5 triệu</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row third">
              <div class="input-field">
                <div class="group-btn">
                  <button class="btn-search">Tìm</button>
                  <!-- <button class="btn-search">Tìm</button> -->
                </div>
              </div>
            </div>
            <% if (messages) { %>
                <p style="color: red; font-size: 15px;"> <%= messages %> </p>
            <% } %> 
            <% if (roomType) { %>
            <p style="padding-top: 10px">
              Kết quả tìm kiếm cho: Loại: <%= roomType%>, Khu vực: <%= wards%>,
              Giá: <%= cost%>
            </p>
            <% } %>
          </div>
        </div>
      </form>
    </div>
    <div class="s009">
      <form action="/motel" method="get">
        <div class="inner-form">
          <div class="advance-search">
            <span class="desc">Tìm theo từ khóa</span>
            <div class="group-btn">
              <input
                id="keyword"
                name="keyword"
                type="text"
                class="form-control validate"
                placeholder="Nhập từ khóa tìm kiếm"
              />

              <button class="btn-search" style="margin-top: 20px; color: white; background-color:  seagreen; width: 100px; height: 40px; border: none;">Tìm</button>
            </div>
            <% if (keyword) { %>
                <p style="padding-top: 10px">
                  Kết quả tìm kiếm cho từ khóa: <%= keyword%></p>
                <% } %>
          </div>
        </div>
      </form>
    </div>
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters-content">
              <div class="row grid">
                <% listroom.forEach(function(room) { %>
                <div class="col-lg-4 col-md-4 all des">
                  <div
                    class="product-item"
                    style="
                      margin: 5px;
                      border-radius: 15px;
                      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                    "
                  >
                    <div>
                      <img
                        style="
                          width: 100%;
                          height: auto;
                          border-radius: 15px;
                          padding: 5px;
                        "
                        src="<%= room.uploadImage %>"
                        alt=""
                      />
                    </div>

                    <div class="down-content" style="padding: 5px">
                        <a href="/viewroom/<%= room._id %>" style="text-decoration: none"><h4><%= room.title %></h4></a>

                      <p style="color: crimson; font-size: 20px">
                        Giá: <%= room.cost %> vnđ
                      </p>
                      <p style="font-size: 18px">Khu vực: <%= room.wards %></p>
                      <p><%= room.description %></p>
                    </div>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
    <script src="js/extention/choices.js"></script>
    <script>
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById("delete");
      const choices = new Choices("select", {
        searchEnabled: false,
        itemSelectText: "",
        removeItemButton: true,
      });
      deleteBtn.addEventListener("click", function (e) {
        e.preventDefault();
        const deleteAll = document.querySelectorAll(".choices__button");
        for (let i = 0; i < deleteAll.length; i++) {
          deleteAll[i].click();
        }
      });
    </script>
    <script src="/js/motel/custom.js"></script>
    <script src="/js/motel/owl.js"></script>
    <script src="/js/motel/slick.js"></script>
    <script src="/js/motel/isotope.js"></script>
    <script src="/js/motel/accordions.js"></script>
  </section>
</main>
