<main class="page login-page">
  <section class="clean-block">
    <div class="container">
      <form action="/profile" enctype="multipart/form-data" method="post">
      <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">Tài khoản</h4>
        <% if (messages) { %>
          <p style="color: red; font-size: 15px;"> <%= messages %> </p>
      <% } %> 
        <div class="d-flex align-items-start py-3 border-bottom">
          <img
            border-radius="20%"
            width="40%"
            height="40%"
            src="<%= user.avatar %>"
            class="img"
            alt=""
          />
          <div class="pl-sm-4 pl-2" id="img-section">
            <b>Tải ảnh lên</b>
            <p>Kích thước dưới 5MB thui nhen!</p>
            <input type="file"  class="form-control-file" name="Image" >
            <!-- <label for="file" style="color: white; height: 40px; width: 100px; background-color: steelblue; margin: auto; justify-content: center; align-items: center;">
                Tải ảnh lên
            </label> -->
          </div>
        </div>
        <div class="py-2">
          <div class="row py-2">
            <div class="col-md-6">
              <label for="firstname">Tên</label>
              <input
                type="text"

                class="bg-light form-control"
                placeholder="Họ tên"
                id="fullname"
                name="fullname"
                value="<%= user.local.name %>"
              />
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
              <label for="lastname">Địa chỉ</label>
              <input
                type="text"
                class="bg-light form-control"
                placeholder="Thêm địa chỉ"
                id="address"
                name="address"
                value="<%= user.address %>"
                
              />
            </div>
          </div>
          <div class="row py-2">
            <div class="col-md-6">
              <label for="email">Email</label>
              <input
                type="text"
                class="bg-light form-control"
                placeholder="Địa chỉ mail"
                readonly="readonly"
                id="email"
                name="email"
                value=<%= user.email %>
              />
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
              <label for="phone">Số điện thoại</label>
              <input
                type="tel"
                class="bg-light form-control"
                placeholder="001"
                id="phone"
                name="phone"
                value=<%= user.phoneNumber %>
              />
            </div>
          </div>

          <div class="row py-2">
            <div class="col-md-6">
              <label for="email">Quyền truy cập</label>
              <input
                type="text"
                readonly="readonly"
                class="bg-light form-control"
                placeholder="Quyền truy cập"
                id="status"
                name="status"
                <% if (user.permission == 0) { %> 
                  value="Sinh viên"
                <% } else if (user.permission == 1) { %> 
                  value="Chủ trọ" 
                <% } else if (user.permission == 2) { %>
                  value="Admin" 
                <% } else { %>
                  value="Siêu người dùng" 
                <% } %>   
              />
            </div> 
            <div class="col-md-6 pt-md-0 pt-3">
              <label for="phone">Tiền</label>
              <input
                readonly="readonly"
                class="bg-light form-control"
                placeholder="Trắng tay"
                id="money"
                name="money"
                value="<%= (user.money).toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') %>đ"
              />
            </div>
          </div>
         
          <div class="py-3 pb-4 border-bottom">
            <button class="btn btn-primary mr-3" type="submit">Cập nhật</button>
            <button class="btn border button"><a href="/profile"
                >Hủy
                </a></button>
          </div>
            
          </div>
        </div>
      </form>
      </div>
      <script
        type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
      ></script>
      <script type="text/javascript"></script>
    </div>
  </section>
</main>
